Thumbs.db
.user
.directory
resources/CMakeFiles
*~
*.swp

# Project Files
*.pro.user
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeSettings.json
/CMakeFiles
CMakeCache.txt
/.project
/.settings
/.idea
/.vscode
/.vs
cmake-build-*/
Debug
compile_commands.json

# Build dirs
build
/build-*

# Install dirs
install
/install-*